@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.akaya-kanadaka-regular {
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
}


.title {
    font-size: 3rem;
    color: black;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
}  

.header {
    background-color: rgb(255, 106, 0);
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(255, 255, 255);
}

.nav {
    background-color: rgb(26, 196, 34);
    width: 33%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(255, 255, 255);
}


.main {
    background-color:rgb(255, 221, 0);
    width: 100%; 
    height: 40rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 5px solid rgb(255, 255, 255);
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
} 

.section{
    background-color: blue;
    width: 33%; 
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(255, 255, 255);
}



.article {
    background-color: rgb(255, 0, 157) ;
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(255, 255, 255);
}


.footer{
    background-color: rgb(196, 196, 196);
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(255, 255, 255);
}
